.vscode/
.github/
build/
Camera/
logs/
assets/img_with_q/
records/
records_auto_buff_big/
records_new/
imgs/
MvSdkLog/
testvideos/
watchdog.sh
records_24/
records_25/
partterns/
# ROS2 / colcon 生成文件
install/
log/

# Python 缓存
__pycache__/
*.pyc
*.egg-info/